%h1 GPU as a Service (GaaS)

%hr

.row
  .span6
    - unless user_signed_in?
      = link_to 'GaaS Up', sign_up_path, class: 'btn btn-large btn-success'
      = link_to 'GaaS In', sign_in_path, class: 'btn btn-large btn-primary'
    - else
      %h2 Your API Key
      %pre= current_user.api_key

      %h2 Example of Vector Addition
      %pre
        $ curl -X POST \
        \-H 'Accept: application/vnd.gaas.v1' \ 
        \-H 'Content-Type: application/json' \ 
        \-H 'Authorization: Token token="#{current_user.api_key}"' \ 
        \-d '{ "data": { "v1":[23.12,2.23,30], "v2": [3.232,2.23,1.334] } }' \ 
        %br
        http://#{request.host}:#{request.port}/api/vector_add

      = link_to 'GaaS out!', sign_out_path, class: 'btn btn-large', method: :delete 
